# Dependências do Projeto VitaNimbus - Weather Related Disease Prediction

# Core Data Science
pandas==2.3.3
numpy==2.3.4
scipy==1.16.2

# Machine Learning
scikit-learn==1.7.2
joblib==1.5.2

# Visualização e Dashboard
dash==3.2.0
plotly==6.3.1
matplotlib==3.10.7
seaborn==0.13.2
